html{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color:rgb(0, 155, 239);
}


body{
    display: grid;
    grid-template-areas: "header" 
                         "main" 
                         "footer"; 
    grid-template-columns: 100%; 
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
    align-items: center;
    justify-items: center;
}

header{
    grid-area: header;
    justify-content: center;
    justify-items: center;
    padding: 10px 0px 0px 0px;
}

header h1{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Righteous', cursive;
    font-size: 4em;
    border-style: dashed;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
}

main{
    grid-area: main;
}

.login{
    background-color: white;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 15px 50px 30px 50px;
    border-radius: 50px;
    margin-bottom: 25px;
}

.login h2{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Righteous', cursive;
    margin-bottom: 40px;
    border-bottom-style: solid;
    border-width: 1px;

    
}


.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding-top: 14px;
    background:rgb(0, 155, 239);
    color: white;
    min-width: 50px;
    text-align: center;
    border-radius: 8px;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    border-style: unset;
    border-bottom: 1px dotted black;
    margin-left: 10px;
}

.input-field:focus {
    border: 2px solidrgb(0, 155, 239);
}

.btn {
    background-color:rgb(0, 155, 239);
    color: white;
    padding: 15px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 8px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Righteous', cursive;
}

.btnConvidado {
    background-color:rgb(0, 155, 239);
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 8px;
}

.btn:hover {
    opacity: 1;
}

.btnConvidado:hover{
    opacity: 1;
}

.signup a, h5{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Righteous', cursive;
    text-decoration: none;
}

.signup a:hover{
    color:rgb(3, 135, 206)
}



.signup{
    border-top-style: solid;
    margin-top: 30px;
    border-width: 1px;

}

footer{
    grid-area: footer;
    bottom: 0;
}

footer h6{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Righteous', cursive;
}

