#divPrincipal {
    border-style: solid;
    border-radius: 8px;
    border-color: black;
    padding: 5px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Righteous', cursive;
}

#info div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#autor {
    font-weight: bold;
}

#respostas, #addResposta {
    margin-left: 100px;
}

#commentAswerText {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    border-radius: 8px;
    resize: none;
}

#btnResponder {
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
}

.botao {
    border-radius: 8px;
    background-color: black;
    color: white;
    padding: 5px;
}

.botao:hover {
    cursor: pointer;
}