<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/convidado.css">
    <title>Cursos UFCG</title>
</head>
<body>
    <header>
        <h1>Cursos UFCG</h1>
    </header>
    

    <main>
            <div class="search">
                <button id="btnBuscar" class="searchBtn"><i class="fa fa-search icon"></i> </button>
                <input class="input-field" id="txtDisciplina" type="text" placeholder="Informe o nome da Disciplina" name="disciplina">      
            </div>

            <div class="content" id="lstDisciplinas">
                <div>
                    <ps-disciplina nome="Programação 1" id="1"></ps-disciplina>
                </div>
                <div>
                    <ps-disciplina nome="Laboratório de Programação 1" id="3"></ps-disciplina>
                </div>
                <div>
                    <ps-disciplina nome="Programação 2" id="2"></ps-disciplina>
                </div>
                <div>
                    <ps-disciplina nome="Laboratório de Programação 2" id="4"></ps-disciplina>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt eum maxime temporibus odit, in doloribus officia. Dolores optio vitae ea, dicta nesciunt accusamus cumque molestias. Obcaecati asperiores tempora quae dolores?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt eum maxime temporibus odit, in doloribus officia. Dolores optio vitae ea, dicta nesciunt accusamus cumque molestias. Obcaecati asperiores tempora quae dolores?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt eum maxime temporibus odit, in doloribus officia. Dolores optio vitae ea, dicta nesciunt accusamus cumque molestias. Obcaecati asperiores tempora quae dolores?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt eum maxime temporibus odit, in doloribus officia. Dolores optio vitae ea, dicta nesciunt accusamus cumque molestias. Obcaecati asperiores tempora quae dolores?</p>

            </div>
                
    </main>

    <footer>
        <h6>Criado por Igor Silveira & Rich Elton</h6>
    </footer>

    <script type="module" src="../controller/ConvidadoController.js"></script>
</body>
</html>