<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/estilo.css">
    <title>Cursos UFCG</title>
</head>
<body>
    <header>
        <h1>Cursos UFCG</h1>
    </header>
    

    <main>
            <div class="login">
                <h2>Bem-vindo!</h2>
                <div class="input-container">
                  <i class="fa fa-user icon"></i>
                  <input class="input-field" id="email" type="text" placeholder="E-mail" name="email">
                </div>
              
                <div class="input-container">
                  <i class="fa fa-key icon"></i>
                  <input class="input-field" id="password" type="password" placeholder="Senha" name="password">
                </div>
              
                <button type="submit" class="btn" id="btn_entrar">Entrar</button>

                <div class="signup">
                    <h5><a href="signup.html" target="_blank">Cadastre-se aqui</a></h5>
                </div>
            </div>
                
    </main>

    <footer>
        <h6>Criado por Igor Silveira & Rich Elton</h6>
    </footer>

    <script type="module" src="../controller/LoginController.js"></script>
</body>
</html>