<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/perfilD.css">
    <title>Cursos UFCG</title>
</head>
<body>
    <header>
        <h1>Cursos UFCG</h1>
    </header>
    

    <main>

        <div class="colunasD">
            <div class="presentation">
                    <ul>
                        <li class="ID Disciplina" id="id" >ID Disciplina</li>
                        <li class="NomeD" id="nome" >Nome da Disciplina</li>
                        <li class="likesD" id="like" >Curtidas: -100</li>
                        <li class="mediaD" id="media" >Média: 0.0</li>
                    </ul>

                    <button id="likeBtn" class="likeBtn">Curtir <i class="fa fa-thumbs-up icon"></i></button> 
    
            </div>

            <div class="commentBox">
                <textarea name="commentTxt" id="commentText" cols="30" rows="10" placeholder="Envie um comentário sobre a disciplina"></textarea>
                <button id="commentBtn">Comentar <i class="fa fa-send-o"></i></button>
            </div>
    
            <div class="comments">
                <h3>Comentários</h3>

                <ps-comentarios id="ps-comentarios" id_perfil=""></ps-comentarios>
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam facilis commodi ratione quos necessitatibus odit dicta saepe neque doloremque itaque nostrum magni, fugit architecto molestias quaerat natus veniam minus ex.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio voluptate facere magnam illum eveniet perferendis repellendus architecto numquam soluta excepturi ab aut, quibusdam nihil ex accusamus laborum. Pariatur, ducimus beatae.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam facilis commodi ratione quos necessitatibus odit dicta saepe neque doloremque itaque nostrum magni, fugit architecto molestias quaerat natus veniam minus ex.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam facilis commodi ratione quos necessitatibus odit dicta saepe neque doloremque itaque nostrum magni, fugit architecto molestias quaerat natus veniam minus ex.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam facilis commodi ratione quos necessitatibus odit dicta saepe neque doloremque itaque nostrum magni, fugit architecto molestias quaerat natus veniam minus ex.</p>
                
            
            
            </div>
        </div>
           

                
    </main>

    <footer>
        <h6>Criado por Igor Silveira & Rich Elton</h6>
    </footer>

    <script type="module" src="../controller/PerfilController.js"></script>
</body>
</html>