<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/signup.css">
    <title>Cursos UFCG</title>
</head>
<body>
    <header>
        <h1>Cursos UFCG</h1>
    </header>
    

    <main>
            <div class="signup">
                <h2>Cadastro</h2>
                <div class="input-container">
                    <span>Nome:</span>
                    <input class="input-field" id="name" type="text" placeholder="Nome" name="name">
                </div>

                <div class="input-container">
                        <span>Sobrenome:</span>
                        <input class="input-field" id="lastname" type="text" placeholder="Sobrenome" name="lastname">
                </div>

                <div class="input-container">
                        <span>E-mail:</span>
                        <input class="input-field" id="email" type="text" placeholder="E-mail" name="email">
                </div>
              
                <div class="input-container">
                    <span>Senha:</span>
                  <input class="input-field" id="password" type="password" placeholder="Senha" name="password">
                </div>

                <div class="input-container">
                        <span>Confirme sua senha:</span>
                      <input class="input-field" id="confirmPassword" type="password" placeholder="Confirme sua senha" name="ConfirmPassword">
                    </div>
              
                <button type="submit" class="btn" id="btn_cadastrar">Cadastrar</button>

            </div>
                
    </main>

    <footer>
        <h6>Criado por Igor Silveira & Rich Elton</h6>
    </footer>

    <script type="module" src="../controller/SignUp.js"></script>
</body>
</html>